<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <ul>
                <br>
                <h2 align=left > Please Register for Spell Check </h2>
            </ul>
            <div class="col-sm-8">
                <form method="POST" >
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <p id = 'uname' class= 'form-control form-control-lg' >
                        {{form.username.label}} {{form.username}}
                    </p>
                    <p id = 'pword' class= 'form-control form-control-lg' >
                        {{form.password.label}} {{form.password}}
                    </p>
                    <p id='2fa' class="form-control form-control-lg">
                        {{ form.phone.label }} {{ form.phone }}
                    </p>
                    <button type="submit" class="btn form-control btn-default"> Register </button>
                </form>
                {% if success == "success" %}
                    <p id='success' class=error><strong>{{ error }} success </strong> </p>
                {% else %}
                    <p id='success' class=error><strong>{{ error }} failure </strong> </p>
                {% endif %}
            </div>
        </div>
    </body>
</html>